<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="style.css">


# EDAF75 - lab 1: SQL

This lab is meant to be run as a `jupyter` notebook, you
could download it [here](lab1.zip) (the zip-file contains
the notebook and the database, and a [.html-file](lab1.html)
which you can read in case you have problems reading/running
jupyter notebooks).

To start your notebook, you can use the following commands
(after you've downloaded [the zip file](lab1.zip)):

```sh
unzip lab1.zip
jupyter notebook
```

This should start jupyter in a browser tab, and there you
can click "lab1.ipynb".


## Background

We have a database to handle the academic achievements of
students at LTH -- in it we have three tables:

<hr>
<table rules="all">
 <tr>
  <th align="left"><code>students:</code></th>
  <th></th>
 </tr>
 <tr>
  <td><code>ssn</code></td>
  <td>social security number</td>
 </tr>
 <tr>
  <td><code>first_name</code></td>
  <td>first name (obviously!)</td>
 </tr>
 <tr>
  <td><code>last_name</code></td>
  <td>last name</td>
 </tr>
</table>

<hr>

<table rules="all">
 <tr>
  <th align="left"><code>courses:</code></th>
  <th></th>
 </tr>
 <tr>
  <td><code>course_code</code></td>
  <td>course code, like <code>EDAF75</code></td>
 </tr>
 <tr>
  <td><code>course_name</code></td>
  <td>the name of the course, like "Database Technology"</td>
 </tr>
 <tr>
  <td><code>level</code></td>
  <td>the course level, like "G1", "G2", or "A"</td>
 </tr>
 <tr>
  <td><code>credits</code></td>
  <td>the number of credits for the course, like 7.5</td>
 </tr>
</table>

<hr>

<table rules="all">
 <tr>
  <th align="left"><code>taken_courses:</code></th>
  <th></th>
 </tr>
 <tr>
  <td><code>ssn</code></td>
  <td>the social security number of a student</td>
 </tr>
 <tr>
  <td><code>course_code</code></td>
  <td>the course code for the course the student has taken</td>
 </tr>
 <tr>
  <td><code>grade</code></td>
  <td>the grade for the student passing the course</td>
 </tr>
</table>

<hr>

<center>
  <img src="lab1.png">
</center>

Some sample data:

```text
ssn           first_name   last_name
---           ----------   ---------
861103–2438   Bo           Ek
911212–1746   Eva          Alm
950829–1848   Anna         Nyström
...           ...          ...

course_code   course_name                   level    credits
-----------   -----------                   -----    -------
EDA016        Programmeringsteknik          G1       7.5
EDAA01        Programmeringsteknik - FK     G1       7.5
EDA230        Optimerande kompilatorer      A        7.5
...           ...                           ...      ...

ssn           course_code   grade
---           -----------   -----
861103–2438   EDA016        4
861103–2438   EDAA01        3
911212–1746   EDA016        3
...           ...           ...
```

The tables have been created with the following SQL
statements:

```sql
CREATE TABLE students (
  ssn          CHAR(11),
  first_name   TEXT NOT NULL,
  last_name    TEXT NOT NULL,
  PRIMARY KEY  (ssn)
);

CREATE TABLE courses (
  course_code   CHAR(6),
  course_name   TEXT NOT NULL,
  level         CHAR(2),
  credits       DOUBLE NOT NULL CHECK (credits > 0),
  PRIMARY KEY   (course_code)
);

CREATE TABLE taken_courses (
  ssn           CHAR(11),
  course_code   CHAR(6),
  grade         INTEGER NOT NULL CHECK (grade >= 3 AND grade <= 5),
  PRIMARY KEY   (ssn, course_code),
  FOREIGN KEY   (ssn) REFERENCES students(ssn),
  FOREIGN KEY   (course_code) REFERENCES courses(course_code)
);
```

All courses offered at the "Computer Science and
Engineering" program at LTH during the academic year 2013/14
are in the table 'courses`. Also, the database has been
filled with made up data. SQL statements like the following
have been used to insert the data:

```sql
INTO   students(ssn, first_name, last_name)
VALUES ('950705-2308', 'Anna', 'Johansson'),
       ('930702-3582', 'Anna', 'Johansson'),
       ('911212-1746', 'Eva', 'Alm'),
       ('910707-3787', 'Eva', 'Nilsson'),
       ...
```

## Assignments

As said above, this lab is designed to be run as a jupyter
notebook. If you haven't got jupyter running, you can run
the sql-commands for the problems below interactively inside
sqlite3, or as a script file with all your commands, or
inside some IDE, like [DB Browser for
SQLite](https://sqlitebrowser.org/).

If you're running the lab as a notebook (and hopefully you
are!), evaluate the following cells before you begin:

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///lab1.sqlite

The tables `students`, `courses` and `taken_courses` are
already in your database, you can see some of their contents
by running the cells below:

In [4]:
%%sql
SELECT  *
FROM    students
LIMIT   4

 * sqlite:///lab1.sqlite
Done.

[('950705-2308', 'Anna', 'Johansson'),
 ('930702-3582', 'Anna', 'Johansson'),
 ('911212-1746', 'Eva', 'Alm'),
 ('910707-3787', 'Eva', 'Nilsson')]

In [5]:
%%sql
SELECT  *
FROM    courses
LIMIT   4

 * sqlite:///lab1.sqlite
Done.

[('EDA016', 'Programmeringsteknik', 'G1', 7.5),
 ('EDA031', 'C++ - programmering', 'G2', 7.5),
 ('EDA040', 'Realtidsprogrammering', 'G2', 6.0),
 ('EDA050', 'Operativsystem', 'G2', 4.5)]

In [6]:
%%sql
SELECT  *
FROM    taken_courses
LIMIT   4

 * sqlite:///lab1.sqlite
Done.

[('950705-2308', 'EITN35', 5),
 ('950705-2308', 'ESS050', 3),
 ('950705-2308', 'ETIN70', 4),
 ('950705-2308', 'FMA140', 4)]

If you inadvertently change the contents of the tables, you
can always recreate the them with the following command (it
must be run at the command line):

```sh
sqlite3 lab1.sqlite < lab1-setup.sql
```

After some of the questions there is a number in brackets.
This is the number of rows generated by the question. For
instance, [72] after question a) means that there are 72
students in the database, you can use that number as an
indicatation of if your answer is in the right ballpark.

a) What are the names (first name, last name) of all the
   students? [72]

In [7]:
%%sql
select first_name, last_name
from students

 * sqlite:///lab1.sqlite
Done.

[('Anna', 'Johansson'),
 ('Anna', 'Johansson'),
 ('Eva', 'Alm'),
 ('Eva', 'Nilsson'),
 ('Elaine', 'Robertson'),
 ('Maria', 'Nordman'),
 ('Helena', 'Troberg'),
 ('Lotta', 'Emanuelsson'),
 ('Anna', 'Nyström'),
 ('Maria', 'Andersson'),
 ('Marie', 'Persson'),
 ('Märit', 'Aspegren'),
 ('Ylva', 'Jacobsson'),
 ('Frida', 'Weidel'),
 ('Caroline', 'Olsson'),
 ('Karolin', 'Ek'),
 ('Eva', 'Hjort'),
 ('Sofia', 'Kjellberg'),
 ('Tina', 'Lööf'),
 ('Lisa', 'Berg'),
 ('Lotta', 'Bergman'),
 ('Susanne', 'Dahl'),
 ('Birgit', 'Ewesson'),
 ('Ulrika', 'Jonsson'),
 ('Jenny', 'Lundin'),
 ('Karin', 'Östberg'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Erik', 'Andersson'),
 ('Erik', 'Andersson'),
 ('Filip', 'Gustavsson'),
 ('Niklas', 'Andersson'),
 ('David', 'Carlsson'),
 ('Tobias', 'Enberg'),
 ('Johan', 'Lind'),
 ('Magnus', 'Pettersson'),
 ('Filip', 'Persson'),
 ('Ola', 'Nilsson'),
 ('Jakob', 'Malmberg'),
 ('Henrik', 'Berg'),
 ('John', 'Lind'),
 ('Patrik', 'Lundh'),
 ('Mikael', 'Nilsson'),
 ('Joakim', 'Nilsson'),
 ('Conny', 'Modig'),
 ('Christian', 'Wallman'),
 ('Magnus', 'Strömgren'),
 ('Daniel', 'Ahlman'),
 ('Lars', 'Molin'),
 ('Magnus', 'Nilsson'),
 ('Anders', 'Olsson'),
 ('Martin', 'Alm'),
 ('Håkan', 'Mossgren'),
 ('Fredrik', 'Ryd'),
 ('Mats', 'Wikström'),
 ('Anders', 'Magnusson'),
 ('Andreas', 'Molin'),
 ('Johan', 'Brattberg'),
 ('Johan', 'Olsson'),
 ('Jonathan', 'Jönsson'),
 ('Magnus', 'Hultgren'),
 ('Axel', 'Nord'),
 ('Henrik', 'Hult'),
 ('Joakim', 'Hall'),
 ('Henrik', 'Gustavsson'),
 ('Torbjörn', 'Modig'),
 ('Daniel', 'Axelsson'),
 ('Per-Erik', 'Pettersson'),
 ('Roger', 'Brorsson'),
 ('Patrik', 'Ohlsson'),
 ('Peter', 'Solberg')]

b) Same as question a) but produce a sorted listing -- sort
   first by last name and then by first name. (When you get
   it to work, experiment by listing only the 10 first
   students, then try to list only students 11-20, etc.).

In [8]:
%%sql
SELECT *
from students
order by first_name
limit 9, 10

 * sqlite:///lab1.sqlite
Done.

[('931225-3158', 'Bo', 'Ek'),
 ('850819-2139', 'Bo', 'Ek'),
 ('870909-3367', 'Caroline', 'Olsson'),
 ('881030-2772', 'Christian', 'Wallman'),
 ('940318-2373', 'Conny', 'Modig'),
 ('900206-3735', 'Daniel', 'Ahlman'),
 ('921029-1995', 'Daniel', 'Axelsson'),
 ('920308-3854', 'David', 'Carlsson'),
 ('931213-2824', 'Elaine', 'Robertson'),
 ('891220-1393', 'Erik', 'Andersson')]

c) What are the names of the students who were born in 1985?
   [4]

In [9]:
%%sql
select *
from students
where ssn like '85%';

 * sqlite:///lab1.sqlite
Done.

[('850706-2762', 'Ulrika', 'Jonsson'),
 ('850819-2139', 'Bo', 'Ek'),
 ('850517-2597', 'Filip', 'Persson'),
 ('850208-1213', 'Henrik', 'Berg')]

In [10]:
%%sql
select *
from students
where substr(ssn, 1,2) like 85

 * sqlite:///lab1.sqlite
Done.

[('850706-2762', 'Ulrika', 'Jonsson'),
 ('850819-2139', 'Bo', 'Ek'),
 ('850517-2597', 'Filip', 'Persson'),
 ('850208-1213', 'Henrik', 'Berg')]

d) The next-to-last digit in the social security number is
   even for females, and odd for males. List the first names
   of all female students in our database alphabetically --
   _each name should occur only once_. Hint: the `substr`
   function can be useful. [20]

In [11]:
%%sql
select distinct(first_name)
from students
where (cast(substr(ssn,-2,1) as int))%2 = 0 
order by first_name

 * sqlite:///lab1.sqlite
Done.

[('Anna',),
 ('Birgit',),
 ('Caroline',),
 ('Elaine',),
 ('Eva',),
 ('Frida',),
 ('Helena',),
 ('Jenny',),
 ('Karin',),
 ('Karolin',),
 ('Lisa',),
 ('Lotta',),
 ('Maria',),
 ('Marie',),
 ('Märit',),
 ('Sofia',),
 ('Susanne',),
 ('Tina',),
 ('Ulrika',),
 ('Ylva',)]

e) How many students are registered in the database?

In [12]:
%%sql
select count(ssn)
from students

 * sqlite:///lab1.sqlite
Done.

[(72,)]

_Optional_: Now try to output the number of names in the
   listing in (d) using `count`. It turns out that this is a
   little bit tricky, we need to make sure we use the word
   `DISTINCT` in the right place (look carefully in the
   [documentation](https://sqlite.org/lang_aggfunc.html)).


f) Which courses are offered by the department of
   Mathematics (their course codes have the form `FMAxxx`)?
   [22]

In [13]:
%%sql
select count(distinct(first_name || " " || last_name)) as unique_names
from students

 * sqlite:///lab1.sqlite
Done.

[(68,)]

g) Which courses give more than 7.5 credits? [16]

In [14]:
%%sql
select *
from courses
where credits >= 7.5

 * sqlite:///lab1.sqlite
Done.

[('EDA016', 'Programmeringsteknik', 'G1', 7.5),
 ('EDA031', 'C++ - programmering', 'G2', 7.5),
 ('EDA095', 'Nätverksprogrammering', 'G2', 7.5),
 ('EDA132', 'Tillämpad artificiell intelligens', 'G2', 7.5),
 ('EDA180', 'Kompilatorteknik', 'G2', 7.5),
 ('EDAF75', 'Databasteknik', 'G2', 7.5),
 ('EDA221', 'Datorgrafik', 'G2', 7.5),
 ('EDA230', 'Optimerande kompilatorer', 'A', 7.5),
 ('EDA270', 'Coachning av programvaruteam', 'A', 9.0),
 ('EDA385', 'Konstruktion av inbyggda system, fördjupningskurs', 'A', 7.5),
 ('EDAA01', 'Programmeringsteknik - fördjupningskurs', 'G1', 7.5),
 ('EDAA05', 'Datorer i system', 'G1', 8.0),
 ('EDAF10', 'Objektorienterad modellering och diskreta strukturer', 'G2', 7.5),
 ('EDAN01', 'Constraint-programmering', 'A', 7.5),
 ('EDAN10', 'Konfigurationshantering', 'A', 7.5),
 ('EDAN15', 'Konstruktion av inbyggda system', 'A', 7.5),
 ('EDAN20', 'Språkteknologi', 'A', 7.5),
 ('EDAN30', 'Fotorealistisk datorgrafik', 'A', 7.5),
 ('EDAN35', 'Högpresterande datorgrafik', 'A', 7.5),
 ('EDAN40', 'Funktionsprogrammering', 'A', 7.5),
 ('EDAN50', 'Intelligenta system - projekt', 'A', 7.5),
 ('EDAN55', 'Avancerade algoritmer', 'A', 7.5),
 ('EDAN60', 'Språkteknologi: Projekt', 'A', 7.5),
 ('EDI042', 'Kodningsteknik', 'A', 7.5),
 ('EDIN01', 'Kryptoteknik', 'A', 7.5),
 ('EDIN05', 'Matematisk kryptologi', 'A', 7.5),
 ('EEM031', 'Sensorteknik', 'G2', 7.5),
 ('EEMF05', 'Medicinsk mätteknik', 'G2', 7.5),
 ('EEMN01', 'Mikrosensorer', 'A', 7.5),
 ('EEMN05', 'EMC, störningar och störningsbegränsning', 'A', 7.5),
 ('EEMN10', 'Datorbaserade mätsystem', 'A', 7.5),
 ('EEMN15', 'Ultraljudsfysik och teknik', 'A', 7.5),
 ('EIE061', 'Projekt i industriell elektroteknik och automation', 'A', 7.5),
 ('EIEF01', 'Tillämpad mekatronik', 'G2', 10.0),
 ('EIEN01', 'Mekatronik, industriell produktframtagning', 'A', 10.0),
 ('EIT020', 'Digitalteknik', 'G2', 9.0),
 ('EIT060', 'Datasäkerhet', 'G1', 7.5),
 ('EIT140', 'OFDM för bredbandskommunikation', 'A', 7.5),
 ('EITF01', 'Digitala bilder – kompression', 'G2', 9.0),
 ('EITF20', 'Datorarkitektur', 'G2', 7.5),
 ('EITF35', 'Digitala strukturer på kisel', 'G2', 7.5),
 ('EITF40', 'Digitala och analoga projekt', 'G2', 7.5),
 ('EITN10', 'Multipelantennsystem', 'A', 7.5),
 ('EITN30', 'Internet inuti', 'A', 7.5),
 ('EITN35', 'Projekt i elektro- och informationsteknik', 'A', 7.5),
 ('EITN45', 'Informationsteori', 'A', 7.5),
 ('EITN50', 'Avancerad datasäkerhet', 'A', 7.5),
 ('ESS050', 'Elektromagnetisk fältteori', 'G2', 9.0),
 ('ETI265', 'Signalbehandling i multimedia', 'G1', 7.5),
 ('ETIA01', 'Elektronik', 'G1', 8.0),
 ('ETIA10', 'Patent och annan immaterialrätt', 'G1', 7.5),
 ('ETIF05', 'Grundläggande radioteknik', 'G2', 7.5),
 ('ETIF10', 'Signalbehandling - design och implementering', 'G2', 7.5),
 ('ETIF15', 'Medicinsk signalbehandling', 'G2', 7.5),
 ('ETIN10', 'Kanalmodellering för trådlös kommunikation', 'A', 7.5),
 ('ETIN15', 'Radiosystem', 'A', 7.5),
 ('ETIN20', 'Digital IC-konstruktion', 'A', 7.5),
 ('ETIN35', 'IC-projekt 1', 'A', 7.5),
 ('ETIN40', 'IC-projekt 2', 'A', 7.5),
 ('ETIN45', 'DSP-design', 'A', 7.5),
 ('ETIN55', 'Integrerade A/D och D/A omvandlare', 'A', 7.5),
 ('ETIN60', 'Avancerade A/D och D/A omvandlare', 'A', 7.5),
 ('ETIN70', 'Modern elektronik', 'A', 7.5),
 ('ETIN80', 'Algoritmer i signalprocessorer - projektkurs', 'A', 7.5),
 ('ETS061', 'Simulering', 'A', 7.5),
 ('ETS170', 'Kravhantering', 'A', 7.5),
 ('ETS200', 'Programvarutestning', 'A', 7.5),
 ('ETSF10', 'Internetprotokoll', 'G2', 7.5),
 ('ETSN01', 'Avancerad telekommunikation', 'A', 7.5),
 ('ETSN05', 'Programvaruutveckling för stora system', 'A', 7.5),
 ('ETT051', 'Digital kommunikation', 'G2', 7.5),
 ('ETTN01', 'Digital kommunikation, fortsättningskurs', 'A', 7.5),
 ('ETTN05', 'Adaptiv signalbehandling', 'A', 7.5),
 ('ETTN10', 'Optimal signalbehandling', 'A', 7.5),
 ('ETTN15', 'Moderna trådlösa system - LTE och dess efterföljare', 'A', 7.5),
 ('EXTA35', 'Introduktionskurs i kinesiska för civilingenjörer', 'G1', 15.0),
 ('EXTF60', 'Introduktionskurs i kinesiska för civilingenjörer, del 2', 'G2', 15.0),
 ('FAF150', 'Medicinsk optik', 'A', 7.5),
 ('FAFF20', 'Multispektral avbildning', 'G2', 7.5),
 ('FAFF25', 'Fysik', 'G2', 11.0),
 ('FMA021', 'Kontinuerliga system', 'A', 7.5),
 ('FMAA01', 'Endimensionell analys', 'G1', 15.0),
 ('FMAN10', 'Algebraiska strukturer', 'A', 7.5),
 ('FMI040', 'Energisystemanalys: Förnybara energikällor', 'A', 7.5),
 ('FMI050', 'Energisystemanalys: energi, miljö och naturresurser', 'A', 7.5),
 ('FMIF15', 'Teknisk miljövetenskap', 'G2', 7.5),
 ('FMNN05', 'Simuleringsverktyg', 'A', 7.5),
 ('FMNN25', 'Avancerad kurs i numeriska algoritmer med Python/SciPy', 'A', 7.5),
 ('FMS012', 'Matematisk statistik, allmän kurs', 'G2', 9.0),
 ('FMS051', 'Matematisk statistik, tidsserieanalys', 'A', 7.5),
 ('FMS072', 'Försöksplanering', 'G2', 7.5),
 ('FMS091', 'Monte Carlo-baserade statistiska metoder', 'A', 7.5),
 ('FMS110', 'Olinjära tidsserier', 'A', 7.5),
 ('FMS155', 'Statistisk modellering av extremvärden', 'A', 7.5),
 ('FMSF10', 'Stationära stokastiska processer', 'G2', 7.5),
 ('FMSF15', 'Markovprocesser', 'G2', 7.5),
 ('FMSN20', 'Spatial statistik med bildanalys', 'A', 7.5),
 ('FMSN30', 'Linjär och logistisk regression', 'A', 7.5),
 ('FMSN35', 'Stationär och icke-stationär spektralanalys', 'A', 7.5),
 ('FRT010', 'Reglerteknik, allmän kurs', 'G2', 7.5),
 ('FRT041', 'Systemidentifiering', 'A', 7.5),
 ('FRT090', 'Projekt i reglerteknik', 'A', 7.5),
 ('FRTN01', 'Realtidssystem', 'A', 10.0),
 ('FRTN05', 'Olinjär reglering och servosystem', 'A', 7.5),
 ('FRTN10', 'Flervariabel reglering', 'A', 7.5),
 ('FRTN15', 'Prediktiv reglering', 'A', 7.5),
 ('GEMA01', 'Franska för tekniker: språk, kultur och samhällsliv, grundkurs', 'G1', 7.5),
 ('GEMA20', 'Engelska för tekniker', 'G1', 7.5),
 ('GEMA25', 'Tyska för tekniker', 'G1', 7.5),
 ('GEMA40', 'Entreprenörskap och affärsutveckling', 'G1', 7.5),
 ('GEMA60', 'Juridik för tekniker', 'G1', 7.5),
 ('GEMA65', 'Kinesiska för tekniker', 'G1', 7.5),
 ('GEMA70', 'Japanska för tekniker', 'G1', 15.0),
 ('KII010', 'Industriellt miljöarbete', 'G2', 7.5),
 ('MAM032', 'Arbete-människa-teknik, projekt', 'A', 7.5),
 ('MAM101', 'Virtual Reality i teori och praktik', 'G2', 7.5),
 ('MAM120', 'Användbarhetsutvärdering', 'G2', 7.5),
 ('MAMN01', 'Avancerad interaktionsdesign', 'A', 7.5),
 ('MAMN10', 'Interaktion 1: Neuromodellering, kognitiv robotik och agenter', 'A', 7.5),
 ('MAMN15', 'Interaktion 2: Virtualitet och kognitiv modellering', 'A', 7.5),
 ('MAMN25', 'Interaktionsdesign', 'A', 7.5),
 ('MIE080', 'Automation', 'G2', 7.5),
 ('MIE090', 'Automation för komplexa system', 'A', 7.5),
 ('MIOA01', 'Industriell ekonomi, allmän kurs', 'G1', 9.0),
 ('MMKF15', 'Tillämpad robotteknik', 'G2', 7.5),
 ('TEK280', 'Teknikstödd kommunikation', 'G2', 7.5),
 ('TNX097', 'Rehabiliteringsteknik', 'G2', 7.5),
 ('TNX153', 'Rehabiliteringsteknik och design', 'G2', 7.5)]

h) How may courses are there for each level (`G1`, `G2`, and
   `A`)?

In [15]:
%%sql
select level, count(course_code)
from courses
group by level

 * sqlite:///lab1.sqlite
Done.

[('A', 87), ('G1', 31), ('G2', 60)]

In the next few problems, we'll look at the results of the
student with the social security number 910101-1234 -- to
make things _a lot_ easier, you can create a `VIEW` with all
his results.

In [1]:
%%sql
DROP VIEW IF EXISTS special;
CREATE VIEW special 
as 
select *
from taken_courses
join students
using (ssn)
join courses
using (course_code)
where ssn = '910101-1234'

UsageError: Cell magic `%%sql` not found.

In [17]:
%%sql
select *
from special

 * sqlite:///lab1.sqlite
Done.

[('910101-1234', 'EDA070', 3, 'Peter', 'Solberg', 'Datorer och datoranvändning', 'G1', 3.0),
 ('910101-1234', 'EDA385', 5, 'Peter', 'Solberg', 'Konstruktion av inbyggda system, fördjupningskurs', 'A', 7.5),
 ('910101-1234', 'EDAA25', 4, 'Peter', 'Solberg', 'C-programmering', 'G1', 3.0),
 ('910101-1234', 'EDAF05', 3, 'Peter', 'Solberg', 'Algoritmer, datastrukturer och komplexitet', 'G2', 5.0),
 ('910101-1234', 'EEMN10', 5, 'Peter', 'Solberg', 'Datorbaserade mätsystem', 'A', 7.5),
 ('910101-1234', 'EIT020', 3, 'Peter', 'Solberg', 'Digitalteknik', 'G2', 9.0),
 ('910101-1234', 'EIT060', 4, 'Peter', 'Solberg', 'Datasäkerhet', 'G1', 7.5),
 ('910101-1234', 'EITF40', 5, 'Peter', 'Solberg', 'Digitala och analoga projekt', 'G2', 7.5),
 ('910101-1234', 'EITN40', 3, 'Peter', 'Solberg', 'Avancerad webbsäkerhet', 'A', 4.0),
 ('910101-1234', 'EITN50', 4, 'Peter', 'Solberg', 'Avancerad datasäkerhet', 'A', 7.5),
 ('910101-1234', 'ESS050', 5, 'Peter', 'Solberg', 'Elektromagnetisk fältteori', 'G2', 9.0),
 ('910101-1234', 'ETIF10', 5, 'Peter', 'Solberg', 'Signalbehandling - design och implementering', 'G2', 7.5),
 ('910101-1234', 'ETIF15', 5, 'Peter', 'Solberg', 'Medicinsk signalbehandling', 'G2', 7.5),
 ('910101-1234', 'ETIN35', 4, 'Peter', 'Solberg', 'IC-projekt 1', 'A', 7.5),
 ('910101-1234', 'ETS052', 5, 'Peter', 'Solberg', 'Datorkommunikation', 'G2', 4.5),
 ('910101-1234', 'ETS075', 4, 'Peter', 'Solberg', 'Kösystem', 'G2', 4.5),
 ('910101-1234', 'ETS200', 3, 'Peter', 'Solberg', 'Programvarutestning', 'A', 7.5),
 ('910101-1234', 'ETSA01', 3, 'Peter', 'Solberg', 'Ingenjörsprocessen för programvaruutveckling - metodik', 'G1', 5.0),
 ('910101-1234', 'EXTA10', 4, 'Peter', 'Solberg', 'Introduktion till Kinas samhällsliv, kultur och språk', 'G1', 3.0),
 ('910101-1234', 'EXTA35', 4, 'Peter', 'Solberg', 'Introduktionskurs i kinesiska för civilingenjörer', 'G1', 15.0),
 ('910101-1234', 'FAFF20', 4, 'Peter', 'Solberg', 'Multispektral avbildning', 'G2', 7.5),
 ('910101-1234', 'FAFF25', 4, 'Peter', 'Solberg', 'Fysik', 'G2', 11.0),
 ('910101-1234', 'FMA145', 3, 'Peter', 'Solberg', 'Olinjära dynamiska system, projektdel', 'A', 3.0),
 ('910101-1234', 'FMA420', 5, 'Peter', 'Solberg', 'Linjär algebra', 'G1', 6.0),
 ('910101-1234', 'FMAA01', 5, 'Peter', 'Solberg', 'Endimensionell analys', 'G1', 15.0),
 ('910101-1234', 'FMAF05', 3, 'Peter', 'Solberg', 'Matematik - System och transformer', 'G2', 7.0),
 ('910101-1234', 'FMS012', 3, 'Peter', 'Solberg', 'Matematisk statistik, allmän kurs', 'G2', 9.0),
 ('910101-1234', 'FMSF15', 4, 'Peter', 'Solberg', 'Markovprocesser', 'G2', 7.5),
 ('910101-1234', 'FMSN30', 5, 'Peter', 'Solberg', 'Linjär och logistisk regression', 'A', 7.5),
 ('910101-1234', 'FMSN35', 5, 'Peter', 'Solberg', 'Stationär och icke-stationär spektralanalys', 'A', 7.5),
 ('910101-1234', 'FRTN10', 5, 'Peter', 'Solberg', 'Flervariabel reglering', 'A', 7.5),
 ('910101-1234', 'GEMA45', 3, 'Peter', 'Solberg', 'Förståelse och lärande', 'G1', 3.0),
 ('910101-1234', 'GEMA70', 4, 'Peter', 'Solberg', 'Japanska för tekniker', 'G1', 15.0),
 ('910101-1234', 'MAMF15', 4, 'Peter', 'Solberg', 'Arbetsorganisation och ledarskap', 'G2', 6.0),
 ('910101-1234', 'TEK210', 3, 'Peter', 'Solberg', 'Kognition', 'G1', 4.5)]

i) Which courses (course codes only) have been taken by the
   student with the social security number 910101–1234? [35]

In [18]:
%%sql
select course_code
from special

 * sqlite:///lab1.sqlite
Done.

[('EDA070',),
 ('EDA385',),
 ('EDAA25',),
 ('EDAF05',),
 ('EEMN10',),
 ('EIT020',),
 ('EIT060',),
 ('EITF40',),
 ('EITN40',),
 ('EITN50',),
 ('ESS050',),
 ('ETIF10',),
 ('ETIF15',),
 ('ETIN35',),
 ('ETS052',),
 ('ETS075',),
 ('ETS200',),
 ('ETSA01',),
 ('EXTA10',),
 ('EXTA35',),
 ('FAFF20',),
 ('FAFF25',),
 ('FMA145',),
 ('FMA420',),
 ('FMAA01',),
 ('FMAF05',),
 ('FMS012',),
 ('FMSF15',),
 ('FMSN30',),
 ('FMSN35',),
 ('FRTN10',),
 ('GEMA45',),
 ('GEMA70',),
 ('MAMF15',),
 ('TEK210',)]

j) What are the names of these courses, and how many credits
   do they give?

In [19]:
%%sql
drop view if exists student;
create view student as
select *
from students
join taken_courses
using (ssn)
join courses
using (course_code)
where ssn = '910101-1234'

 * sqlite:///lab1.sqlite
Done.
Done.

[]

In [20]:
%%sql
select *
from student

 * sqlite:///lab1.sqlite
Done.

[('910101-1234', 'Peter', 'Solberg', 'EDA070', 3, 'Datorer och datoranvändning', 'G1', 3.0),
 ('910101-1234', 'Peter', 'Solberg', 'EDA385', 5, 'Konstruktion av inbyggda system, fördjupningskurs', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'EDAA25', 4, 'C-programmering', 'G1', 3.0),
 ('910101-1234', 'Peter', 'Solberg', 'EDAF05', 3, 'Algoritmer, datastrukturer och komplexitet', 'G2', 5.0),
 ('910101-1234', 'Peter', 'Solberg', 'EEMN10', 5, 'Datorbaserade mätsystem', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'EIT020', 3, 'Digitalteknik', 'G2', 9.0),
 ('910101-1234', 'Peter', 'Solberg', 'EIT060', 4, 'Datasäkerhet', 'G1', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'EITF40', 5, 'Digitala och analoga projekt', 'G2', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'EITN40', 3, 'Avancerad webbsäkerhet', 'A', 4.0),
 ('910101-1234', 'Peter', 'Solberg', 'EITN50', 4, 'Avancerad datasäkerhet', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'ESS050', 5, 'Elektromagnetisk fältteori', 'G2', 9.0),
 ('910101-1234', 'Peter', 'Solberg', 'ETIF10', 5, 'Signalbehandling - design och implementering', 'G2', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'ETIF15', 5, 'Medicinsk signalbehandling', 'G2', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'ETIN35', 4, 'IC-projekt 1', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'ETS052', 5, 'Datorkommunikation', 'G2', 4.5),
 ('910101-1234', 'Peter', 'Solberg', 'ETS075', 4, 'Kösystem', 'G2', 4.5),
 ('910101-1234', 'Peter', 'Solberg', 'ETS200', 3, 'Programvarutestning', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'ETSA01', 3, 'Ingenjörsprocessen för programvaruutveckling - metodik', 'G1', 5.0),
 ('910101-1234', 'Peter', 'Solberg', 'EXTA10', 4, 'Introduktion till Kinas samhällsliv, kultur och språk', 'G1', 3.0),
 ('910101-1234', 'Peter', 'Solberg', 'EXTA35', 4, 'Introduktionskurs i kinesiska för civilingenjörer', 'G1', 15.0),
 ('910101-1234', 'Peter', 'Solberg', 'FAFF20', 4, 'Multispektral avbildning', 'G2', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'FAFF25', 4, 'Fysik', 'G2', 11.0),
 ('910101-1234', 'Peter', 'Solberg', 'FMA145', 3, 'Olinjära dynamiska system, projektdel', 'A', 3.0),
 ('910101-1234', 'Peter', 'Solberg', 'FMA420', 5, 'Linjär algebra', 'G1', 6.0),
 ('910101-1234', 'Peter', 'Solberg', 'FMAA01', 5, 'Endimensionell analys', 'G1', 15.0),
 ('910101-1234', 'Peter', 'Solberg', 'FMAF05', 3, 'Matematik - System och transformer', 'G2', 7.0),
 ('910101-1234', 'Peter', 'Solberg', 'FMS012', 3, 'Matematisk statistik, allmän kurs', 'G2', 9.0),
 ('910101-1234', 'Peter', 'Solberg', 'FMSF15', 4, 'Markovprocesser', 'G2', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'FMSN30', 5, 'Linjär och logistisk regression', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'FMSN35', 5, 'Stationär och icke-stationär spektralanalys', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'FRTN10', 5, 'Flervariabel reglering', 'A', 7.5),
 ('910101-1234', 'Peter', 'Solberg', 'GEMA45', 3, 'Förståelse och lärande', 'G1', 3.0),
 ('910101-1234', 'Peter', 'Solberg', 'GEMA70', 4, 'Japanska för tekniker', 'G1', 15.0),
 ('910101-1234', 'Peter', 'Solberg', 'MAMF15', 4, 'Arbetsorganisation och ledarskap', 'G2', 6.0),
 ('910101-1234', 'Peter', 'Solberg', 'TEK210', 3, 'Kognition', 'G1', 4.5)]

k) How many credits has the student taken?

In [21]:
%%sql
select sum(credits) as total_credits
from student

 * sqlite:///lab1.sqlite
Done.

[(249.5,)]

l) What is the student’s grade average? We can calculate the
   average either just as the average of all grades
   (unweighted), or use the credits for each course as a
   weight and calculate a weighted average. Try to do the
   calculation both ways (the weighted average can be
   calculated in just one line of code, but we only require
   that you calculate the unweighted average, so don't spend
   too much time on getting the weighted average right).

In [22]:
%%sql
select round(avg(grade), 1) as Average_grade
from student

 * sqlite:///lab1.sqlite
Done.

[(4.0,)]

m) Which students have taken 0 credits? [11] This problem
   can be solved in several ways, first do it with an outer
   join:

In [23]:
%%sql
SELECT count(students.ssn)
FROM students
left join taken_courses
using (ssn)
where taken_courses.ssn is NULL

 * sqlite:///lab1.sqlite
Done.

[(11,)]

Now do the same thing using a subquery:

In [24]:
%%sql
select count(ssn)
from students
where ssn not in (select ssn
                  from taken_courses
                  join students
                  using (ssn)
                 )

 * sqlite:///lab1.sqlite
Done.

[(11,)]

n) List the names and average grades of the 10 students with
   the highest grade average? You can use the unweighted
   average.

o) List the social security number and total number of
   credits for all students. Students with no credits should
   be included in the listing, with 0 credits (not `NULL`).

   If you do this with an outer join (and I recommend you
   try it!) you might want to use the function
   `coalesce(v1, v2, ...)`; it returns the first value which
   is not `NULL`, so `coalesce(avg(grade), 0)` would give 0
   if the were no grades (i.e., if `grade` were `NULL`), you
   can also try the `ifnull` function.

   (It may be a little bit tricky to get this query right,
   if you're missing the students with 0 credits, don't
   worry, your TA will help you get it right). [72]

In [25]:
%%sql
select ssn, first_name ||" "|| last_name as name, round(avg(grade),1) Average_grade
from students
join taken_courses
using (ssn)
group by ssn
order by Average_grade DESC
limit 10

 * sqlite:///lab1.sqlite
Done.

[('861103-2438', 'Bo Ek', 4.4),
 ('910308-1826', 'Helena Troberg', 4.3),
 ('860819-2864', 'Maria Andersson', 4.2),
 ('900206-3735', 'Daniel Ahlman', 4.2),
 ('901030-1895', 'Per-Erik Pettersson', 4.2),
 ('920812-1857', 'Jakob Malmberg', 4.2),
 ('930702-3582', 'Anna Johansson', 4.2),
 ('931208-3605', 'Ylva Jacobsson', 4.2),
 ('931213-2824', 'Elaine Robertson', 4.2),
 ('940801-2971', 'Mikael Nilsson', 4.2)]

In [26]:
%%sql
with tmp as (
select  ssn, coalesce(sum(credits), 0) as Total_credits
from students
left join taken_courses
using (ssn)
left join courses
using (course_code)
group by ssn
)


select *
from tmp

 * sqlite:///lab1.sqlite
Done.

[('850208-1213', 166.5),
 ('850517-2597', 0),
 ('850706-2762', 30.0),
 ('850819-2139', 76.5),
 ('860206-1065', 151.0),
 ('860323-1071', 70.5),
 ('860819-2864', 140.5),
 ('861103-2438', 153.0),
 ('870909-3367', 0),
 ('870915-2742', 254.0),
 ('880206-1915', 0),
 ('880322-3951', 250.5),
 ('880620-2564', 348.5),
 ('881030-2772', 133.0),
 ('881110-1272', 154.5),
 ('890103-1256', 52.5),
 ('890621-3057', 295.5),
 ('890622-1928', 205.0),
 ('890820-2496', 170.0),
 ('891007-3091', 0),
 ('891021-1287', 267.0),
 ('891106-1277', 60.5),
 ('891220-1393', 0),
 ('891231-2554', 76.0),
 ('900129-3374', 0),
 ('900206-3735', 139.0),
 ('900227-2369', 262.5),
 ('900313-2257', 0),
 ('900526-1450', 31.0),
 ('900528-1540', 64.5),
 ('900918-3999', 216.0),
 ('901030-1895', 192.0),
 ('910101-1234', 249.5),
 ('910226-3409', 63.0),
 ('910308-1826', 83.0),
 ('910707-3787', 28.5),
 ('910915-2068', 338.0),
 ('911015-3758', 0),
 ('911020-3538', 241.5),
 ('911212-1746', 181.0),
 ('920308-3854', 289.0),
 ('920514-3433', 22.0),
 ('920623-3258', 334.0),
 ('920812-1857', 37.0),
 ('920906-3371', 174.0),
 ('920921-2499', 267.5),
 ('921029-1995', 268.5),
 ('921222-2113', 332.0),
 ('930420-2833', 4.0),
 ('930502-2040', 189.0),
 ('930702-3582', 288.5),
 ('930716-3933', 60.0),
 ('930804-3050', 148.0),
 ('931015-1271', 22.5),
 ('931128-1333', 171.5),
 ('931208-3605', 229.5),
 ('931213-2824', 111.0),
 ('931225-3158', 0),
 ('940318-2373', 223.0),
 ('940801-2971', 161.5),
 ('940802-3861', 123.0),
 ('940825-1934', 117.5),
 ('941003-1225', 52.5),
 ('950125-1153', 0),
 ('950317-3520', 43.5),
 ('950705-2308', 37.5),
 ('950714-2190', 32.5),
 ('950715-2090', 7.5),
 ('950829-1848', 0),
 ('950830-2637', 174.0),
 ('951004-2346', 350.0),
 ('951122-1048', 110.0)]

p) Do all students have unique names (first name _and_ last
   name)? If not, show the full name and social security
   number for all students who have a namesake. [7]

   As usual there are several ways of solving this, try to
   solve it using a `WITH`-statement where you create a
   table with all duplicate names, and then use it in a
   `JOIN`:

In [27]:
%%sql
with tmp as (
select first_name || last_name 
from students
group by  first_name || last_name
having count(ssn) > 1
)


select ssn, first_name ||' '|| last_name as name
from students
where first_name || last_name in tmp

 * sqlite:///lab1.sqlite
Done.

[('950705-2308', 'Anna Johansson'),
 ('930702-3582', 'Anna Johansson'),
 ('861103-2438', 'Bo Ek'),
 ('931225-3158', 'Bo Ek'),
 ('850819-2139', 'Bo Ek'),
 ('891220-1393', 'Erik Andersson'),
 ('900313-2257', 'Erik Andersson')]

q) _Optional:_ List all students who have a an average grade
   higher than the average of all other students with the
   same first name. Try to use weighted averages for the
   invididual students, and compare to just the average of
   averages for the namesakes (we could have weighted their
   averages according to how many total credits they have,
   but that would be a bit over the top). Here you can use
   either a correlated subquery, or a CTE and a `JOIN`.

In [121]:
%%sql
--grade * credits (for each course) / sum (credits)

with weighted_average_grade as (
select ssn, sum(grade*credits)/sum(credits) as weighted
from taken_courses
join courses
using (course_code)
group by ssn
),
namesake as 
(
select ssn, first_name, last_name, weighted
from students
join weighted_average_grade
using (ssn)
where first_name in (select first_name
                     from students
                     group by first_name
                     having count(first_name) > 1)
), 
average_for_first_name as (
select first_name, avg(weighted) as avg_weighted
from namesake
group by first_name
)
select ssn, first_name ||" "|| last_name as name, round(weighted,1) as weighted_grade,
round(avg_weighted,1) as group_average
from namesake
join average_for_first_name
using (first_name)
where weighted >= avg_weighted
order by first_name

 * sqlite:///lab1.sqlite
Done.

[('950830-2637', 'Anders Olsson', 3.9, 3.8),
 ('930702-3582', 'Anna Johansson', 4.2, 4.2),
 ('861103-2438', 'Bo Ek', 4.4, 4.1),
 ('900206-3735', 'Daniel Ahlman', 4.2, 4.0),
 ('860206-1065', 'Eva Hjort', 4.2, 3.8),
 ('911212-1746', 'Eva Alm', 4.0, 3.8),
 ('940825-1934', 'Filip Gustavsson', 3.8, 3.8),
 ('900918-3999', 'Henrik Hult', 4.2, 4.0),
 ('931128-1333', 'Joakim Nilsson', 3.8, 3.8),
 ('890103-1256', 'Johan Brattberg', 3.8, 3.7),
 ('891021-1287', 'Lotta Bergman', 3.7, 3.6),
 ('900526-1450', 'Magnus Nilsson', 4.0, 4.0),
 ('860819-2864', 'Maria Andersson', 4.1, 3.9),
 ('930804-3050', 'Patrik Ohlsson', 4.1, 4.1)]